.btn{
    border-radius: 30%;
    margin: 10px;
    cursor: pointer;    
    font-size: xx-large;
    outline: none;
    width: 50px;
    border: none;
    background-color: white;

}
.zero {
    border-radius: 30%;
    margin: 10px;
    cursor: pointer;    
    font-size: xx-large;
    outline: none;
    width: 50px;
    border: none;
    background-color: white;
}
.equals{
    width: 250px;
    margin: 10px;
    border-radius: 30%;
    cursor: pointer;
    font-size: xx-large ;
    outline: none;
    border: none;
    background-color: white;
}
.input{
    border: 2px solid gray;
    padding : 20px ;
    width: 200px;
    height: 2px;
    font-size: xx-large;
    text-align: right;
    margin-top: 100px;
    

    
}
.input1{
    border: 2px solid gray;
    padding: 20px;
    width: 200px;
    height: 2px;
    font-size: xx-large;
    text-align: right;
    
    
    
    
}
:hover.btn{
 
 background-size: cover;   color: red;
}
:hover.zero{
    color: red;
}
:hover.equals{
    color: red;
}
.dot{
    border-radius: 30%;
    margin: 10px;
    cursor: pointer;    
    font-size: xx-large;
    width: 50px;
    outline: none;
    border: none;
    background-color: white;
}


:hover.dot{
    color: red;
}

body{
    background-image: url(images/images.jpg);
    background-size: cover;
}
